mixin skill(title, rating, image_name, color)
    div(class="skills-display__skill animate-me")
        div(class="skills-display__icon-container")
            img(src="img/icons/"+image_name alt={title} class="skills-display__icon")

        div(class="skills-display__description")
            div(class="skills-display__skill-title")= title
            div(class="skills-display__knowledge-display")
                - var n = 1
                while n <= 5
                    if n <= rating
                        span(class="skills-display__star" style="color:"+color+";") ★
                    else
                        span(class="skills-display__star" style="color:"+color+";") ☆
                    - n++


mixin nav_bar(active_link)
    header.main-menu
        a(id="main-menu-toggle"
            href="#main-menu"
            class="main-menu__toggle"
            aria-label="Open main menu")
            span(class="sr-only") Open main menu
            i(class="material-icons" aria-hidden="true") menu
        
        nav(class="main-menu__navigation" id="main-menu" aria-label="Main menu")
            a(href="#main-menu-toggle"
                id="main-menu-close"
                class="main-menu__menu-close"
                aria-label="Close main menu")
                span(class="sr-only") Close main menu
                i(class="material-icons" aria-hidden="true") close

            ul(class="main-menu__nav-items" id="navigation-menu")
                li(class="main-menu__item")
                    a(href="/" class=active_link==="home" ? "main-menu__link main-menu__link--active" : "main-menu__link") About Me
                li(class="main-menu__item")
                    a(href="/ios.html" class=active_link==="ios" ? "main-menu__link main-menu__link--active" : "main-menu__link") iOS
                li(class="main-menu__item")
                    a(href="/web.html" class=active_link==="web" ? "main-menu__link main-menu__link--active" : "main-menu__link") Web
                li(class="main-menu__item")
                    a(href="/blog.html" class=active_link==="blog" ? "main-menu__link main-menu__link--active" : "main-menu__link") Blog
        a(href="#main-menu-toggle"
            class="backdrop"
            tabindex="-1"
            aria-hidden="true" hidden)

mixin blog_preview(title, description, link, image_link, date)
    a(href="/blog/"+link class="blog-preview__container-link")
        article.blog-preview
            figure.blog-preview__image-container
                img(class="blog-preview__image" src=image_link)
            .blog-preview__content-container
                h1.blog-preview__title= title
                p.description= description
                span(class="blog-preview__date description")= date
