mixin skill(title, rating, image_name, color)
    div(class="skills-display__skill animate-me")
        div(class="skills-display__icon-container")
            img(src="img/icons/"+image_name alt={title} class="skills-display__icon")

        div(class="skills-display__description")
            div(class="skills-display__skill-title")= title
            div(class="skills-display__knowledge-display")
                - var n = 1
                while n <= 5
                    if n <= rating
                        span(class="skills-display__star" style="color:"+color+";") ★
                    else
                        span(class="skills-display__star" style="color:"+color+";") ☆
                    - n++


mixin nav_bar(active_link)
    header.main-menu
        a(id="main-menu-toggle"
            href="#main-menu"
            class="main-menu__toggle"
            aria-label="Open main menu")
            span(class="sr-only") Open main menu
            i(class="material-icons" aria-hidden="true") menu
        
        nav(class="main-menu__navigation" id="main-menu" aria-label="Main menu")
            a(href="#main-menu-toggle"
                id="main-menu-close"
                class="main-menu__menu-close"
                aria-label="Close main menu")
                span(class="sr-only") Close main menu
                i(class="material-icons" aria-hidden="true") close

            ul(class="main-menu__nav-items" id="navigation-menu")
                li(class="main-menu__item")
                    a(href="/" class=active_link==="home" ? "main-menu__link main-menu__link--active" : "main-menu__link") About Me
                li(class="main-menu__item")
                    a(href="/ios.html" class=active_link==="ios" ? "main-menu__link main-menu__link--active" : "main-menu__link") iOS
                li(class="main-menu__item")
                    a(href="/web.html" class=active_link==="web" ? "main-menu__link main-menu__link--active" : "main-menu__link") Web
                li(class="main-menu__item")
                    a(href="/blog.html" class=active_link==="blog" ? "main-menu__link main-menu__link--active" : "main-menu__link") Blog
        a(href="#main-menu-toggle"
            class="backdrop"
            tabindex="-1"
            aria-hidden="true" hidden)

mixin blog_preview(title, description, link, image_link, date)
    a(href="/blog/"+link class="blog-preview__container-link")
        article.blog-preview
            figure.blog-preview__image-container
                img(class="blog-preview__image" src=image_link)
            .blog-preview__content-container
                h1.blog-preview__title= title
                p.description= description
                span(class="blog-preview__date description")= date

mixin my_twitter
    +twitter_card( "Patrick Conrey", "@patrick_conrey", "https://pbs.twimg.com/profile_images/1162799469743738881/dBHUPvod_400x400.jpg", "https://twitter.com/patrick_conrey")

mixin emailing_list_sign_up
    form.form(name="contact" method="POST" data-netlify="true")
        .form__content
            .form__group
                input.form__input(type="text" name="name" id="contact-name" placeholder="First Last" required)
                label.form__label(for="contact-name") Name
            .form__group
                input.form__input(type="email" name="email" id="contact-email" placeholder="example@something.com" required)
                label.form__label(for="contact-email") Email
            .form__group.form__honeypot
                input.form__input.form__honeypot(name="bot-field" id="bot-field" tabindex="-1")
                label.form__label(for="bot-field") Bots
            button.form__button(type="submit") Submit &rarr;

mixin twitter_card(name, handle, profile_image, link)
    a(href=link class="twitter-card__link" target="_blank")
        .twitter-card
            figure.twitter-card__image-container
                img(class="twitter-card__image" src=profile_image)
            .twitter-card__info-container
                span.twitter-card__name= name
                spane.twitter-card__handle= handle
